body {
    background-color: white;
   
}

/* .hero-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("https://media.vanityfair.com/photos/5ac2507e46fa5d6627ca6a57/7:3/w_1070,h_458,c_limit/Rick-and-Morty-April-Fools-Prank.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

header {
    /* background-image: url('https://cdn.mos.cms.futurecdn.net/T7XVEDX27hxmVEV7nVir5K.jpg'); */
    font-family: 'Creepster', cursive;
    font-size: 40px;
    color: rgb(5, 173, 195);
    -webkit-text-stroke: 1px rgb(159, 200, 94);
    text-shadow: 5px 5px black;
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

h1 span{
    font-size: .7em;
}
h2 {
    font-size: .8em;
    display: flex;
    justify-content: center;
    padding-right: 50px;

}

.image {
    min-height: 100px;
    min-width: 100px;
}

.flex-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
   

}

.flex-item-1 {
    display: flex;
    
}

.flex-item-2 {
 
    display: flex;
    
}

.flex-item-3{

    display: flex;

}

.flex-item-4{
  
    display: flex;

}

.input {
    display:flex;
    justify-content: center;
    align-items: center;
}

