body {
    background-color: white;
    background-image: url('https://wallpaperaccess.com/full/831751.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


header {
    font-family: 'Creepster', cursive;
    font-size: 30px;
    color: rgb(5, 173, 195);
    -webkit-text-stroke: 1px rgb(159, 200, 94);
    text-shadow: 5px 5px black;
    display: flex;
    justify-content: center;
    
}

h1 span{
    font-size: .7em;
}

h2 {
    font-size: .8em;
    display: flex;
    justify-content: center;
}


.flex-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#img{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
.flex-item-1 {
    display: flex;
    
}

.flex-item-2 {
 
    display: flex;
    
}

.flex-item-3{

    display: flex;

}

.flex-item-4{
  
    display: flex;

}

.input {
    display:flex;
    justify-content: center;
    align-items: center;
}

